body {
    background-color: #ffffff;
    color: #333333;
}

body.dark-mode {
    background-color: #333333;
    color: #ffffff;
}

#dark-mode-button {
    background-color: #333333;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

#dark-mode-button:hover {
    background-color: #ffffff;
    color: #333333;
}

.personagem {
    width: 300px;
    margin: 20px;
    border-radius: 16px;
    text-align: center;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    transition: transform 0.2s;
}

.personagem img {
    width: 100%;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}

.personagem .name {
    font-size: 20px;
    color: #000000;
    padding: 10px; 
}

.personagem .description {
    font-size: 16px;
    color: #333;
    padding: 10px; 
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 0 0 16px 16px;
}

.personagem:hover {
    transform: scale(1.05);
}

.description {
    display: none;
}

button {
    background-color: #f00;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    margin-top: 10px;
    border-radius: 5px;
}

button:hover {
    background-color: #f10000;
}

.fechar {
    position: absolute;
    background: none;
    border: none;
    font-size: 24px;
    color: #fff;
    cursor: pointer;
    left: 5px; 
    margin-left: 10px; 
    z-index: 2;
}

.menu {
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: #333;
    color: #fff;
    font-size: 20px;
    padding: 20px;
    z-index: 1;
    overflow-y: hidden;
    transition: 0.4s;
    opacity: 0;
    visibility: hidden;
}

.menu ul {
    margin-top: 70px;
    list-style-type: none;
    padding: 0;
}

.menu li {
    margin-bottom: 23px;
}

.menu a {
    text-decoration: none;
    color: #ffffff;
}

.menu-button{
    color: #fff;
    width: 10px;
    padding: 10px;
    size: 10px;
    margin-left: 10px;
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer;
}

.menu-button:focus + .menu, .menu-button.active + .menu {
    display: block; 
}

.pesquisa{
    display: flex;
    justify-content: center;
    margin: 20px;
}

#inputPesquisar{
    width: 50%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #f00;
    color: #fff;
    font-size: 16px;
    box-shadow: 0 2px 4px rgba(250, 250, 250, 0.1);
}

#inputPesquisar:focus{
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    outline: none;
}

.topo{
    background-color: #f10000;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img{
    max-width: 175px;
}

.btnPesquisar {
    background-color: #f00;
    border: none;
    color: #fff;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer
}

.btnPesquisar:hover {
    background-color: rgb(241, 10, 10);
}

.titulo {
    text-align: center;
    margin: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    color: black;
}

.mobile-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333; 
    padding: 10px;
}

.mobile-menu a {
    color: white; 
    text-decoration: none;
    margin: 0 12px; 
    font-size: 16px;
}

.grid-view .personagem {
    width: calc(42% - 20px);
    margin: 20px;
    border-radius: 16px;
    text-align: center;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s;
    display: inline-block; 
    vertical-align: top; 
}

.grid-view .personagem img {
    width: 100%;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}

.grid-view .personagem .name {
    font-size: 20px;
    color: #000000;
    padding: 100px;
}

.grid-view .personagem .description {
    font-size: 16px;
    color: #333;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 0 0 16px 16px;
}